certifi==2019.11.28
chardet==3.0.4
cmake==3.16.3
cycler==0.10.0
h5py==2.10.0
idna==2.9
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.1
opencv-python==4.2.0.32
pandas==1.0.1
pdfminer==20191125
Pillow==7.0.0
protobuf==3.11.3
pycryptodome==3.9.7
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
stanfordnlp==0.2.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.43.0
urllib3==1.25.8