.idea
.vscode/*
backend-services/__pychace__/*
backend-services/Services/Spark/__pycache__/*
backend-services/Models/__pycache__/*

!**/__pycache__/

venv/*
my-venv/*
stanfordnlp/en_ewt_models/*
stanfordnlp/nlp-venv/*
stanfordnlp/stanza_resources/*
mozilla-deepspeech/deepspeech-models/*
mozilla-deepspeech/deepspeech-venv/*
mozilla-deepspeech/my-venv/*
nlp.*
nlptokenizer.*
sportDatasetGen.*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

Virtualenv/Lib/__pycache__/*
Virtualenv/Lib/collections/__pycache__/*
Virtualenv/Lib/encodings/__pycache__/*
